@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* -----------------------------------universal classes---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 60px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 17px;
    font-weight: 600;
    padding: 5px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}



/* ------------------------------------------------------homepage--------------------------------------------------- */

/* -------------------------navbar--------------------------------- */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.04);
    z-index: 999;
    position: sticky;
    padding: 10px 50px;
    top: 0;
    left: 0;
    transition: 0.5s ease;
}

#header .top-logo {
    width: 70px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-right {
    float: right;
}

#navbar li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar .navbar-link {
    font-size: 20px;
    color: #0AA1DD;
    text-decoration: none;
    transition: 0.2s ease;
}

#navbar .navbar-link:hover,
#navbar .navbar-link.active {
    color: #2155CD;
}

#navbar .navbar-link.active::after,
#navbar .navbar-link:hover::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #2155CD;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.2s ease;
}

.la-shopping-cart {
    margin: 0;
    padding-left: 0;
    font-size: 35px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
    align-items: center;
}

/* --------------------popular section ----------------------- */
#monthPopular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E8F9FD;
    height: 80vh;
    width: 100%;
}

#monthPopular #text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 80px; */
    margin: 0px 50px;
}

#monthPopular img {
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    /* padding: 10px; */
    height: 70vh;
}

#monthPopular h4 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
    color: #2155CD;
}

#monthPopular h2 {
    font-size: 45px;
    padding-bottom: 10px;
}

#monthPopular h1 {
    color: #2155CD;
    font-size: 70px;
}

#monthPopular a {
    font-size: 20px;
    font-weight: 500;
    color: #0AA1DD;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #0AA1DD;
    transition: 0.2s ease;
}

#monthPopular a:hover {
    color: white;
    background-color: #0AA1DD;
}

/* ----------------------features section -------------------------------- */

#main-popcat {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 0px;
}

#main-popcat .popcat-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#main-popcat .popcat h1 {
    color: #2155CD;
    margin-right: 20px;
    font-size: 70px;
}

#main-popcat h5 {
    font-size: 20px;
    font-weight: 500;
    /* margin-top: 10px; */
    /* margin-bottom: -5px; */
}

#main-popcat .ft-box img {
    width: 95%;
    margin-bottom: 10px;
}

#main-popcat .ft-box {
    cursor: pointer;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
    border: 1px solid #0AA1DD;
    border-radius: 15px;
    margin: 20px 45px;
}

#main-popcat .ft-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.09);
}

#main-popcat .ft-box h5 {
    padding: 8px 8px 6px 8px;
    line-height: 1;
    border-radius: 3px;
    color: #0AA1DD;
}

#main-popcat .popcat-box a {
    text-decoration: none;
}


/* ------------------------------------ new arrivals -------------------------------- */
#product1 {
    padding: 20px 50px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
    /* background-color: #E8F9FD; */
    /* margin-top: 70px; */
    transition: 0.2s ease;
    margin-bottom: 20px;
    text-align: center;
}

#product1 .normal {
    color: #0AA1DD;
    border: 1px solid #0AA1DD;
}

#product1 .normal:hover {
    color: white;
    background-color: #0AA1DD;
}

#product1 .book-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 h1 {
    color: #2155CD;
    font-size: 70px;
}

#product1 p {
    margin: 15px 0px 0px;
    color: #2155CD;
}

#product1 .book {
    width: 23%;
    position: relative;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #0AA1DD;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .book:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .book img {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

#product1 .book .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .book .desc span {
    font-size: 15px;
}

#product1 .book .desc h5 {
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* #product1 .book .desc h5:hover {
    font-size: 21px;
} */

#product1 .book .desc .star {
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product1 .book .desc h4 {
    color: #0AA1DD;
}

#product1 .book .cart-btn {
    /* padding: 0 2px 2px 2px; */
    font-size: 35px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    /* background-color: #E8F9FD; */
    /* border: 0.7px solid #0AA1DD; */
    color: #0AA1DD;
    position: absolute;
    bottom: 20px;
    right: 14px;
    transition: 0.2s ease;
}

#product1 .book .cart-btn:hover {
    /* font-size: 37px; */
    color: #2155CD;
}


/* ------------------------ rent banner --------------------------- */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner-background.jpg");
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 18px;
}

#banner h2 {
    color: white;
    padding: 10px 0;
}

#banner h2 span {
    color: rgb(255, 198, 92);
}

#banner button {
    color: #0AA1DD;
}

#banner button:hover {
    background-color: rgb(255, 198, 92);
}

/* ---------------------------------------- newsletter ------------------------------ */

#newsletter {
    /* background-image: url("img/newsletter-background_edited.jpg"); */
    background-color: #E8F9FD;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#newsletter h2 {
    font-size: 40px;
    color: black;
}


#newsletter p {
    font-size: 20px;
    color: black;
}

#newsletter p span {
    font-size: 20px;
    color: #ff6961;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter .news-email {
    display: flex;
    width: 40%;
}

#newsletter button {
    background-color: #0AA1DD;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* -----------------------------------------------footer------------------------------------------------- */

footer {
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

footer .main-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    width: 6%;
}

footer h4 {
    font-size: 17px;
    padding-top: 20px;
}

footer p {
    font-size: 13px;
    margin: 5px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 5px 0;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    font-size: 30px;
    color: black;
    padding-right: 4px;
    cursor: pointer;
}

footer .install img {
    width: 15%;
}

footer .install .row img {
    width: 7%;
    cursor: pointer;
}

footer .social-foot {
    font-size: 30px;
    text-align: center;
}

footer .social-foot i {
    cursor: pointer;
}

.legal-foot {
    color: white;
    background-color: black;
}

div .legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div .legal-list li {
    /* cursor: pointer; */
    padding: 10px 40px;
    /* margin: 0.125rem 0.625rem; */
    list-style: none;
    white-space: nowrap;
}

div .legal-list li span {
    cursor: pointer;
}

div .legal-list li:nth-last-child(2) {
    flex: 1;
}







/* --------------------------------media query 1------------------------------------------- */
@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        right: -400px;
        height: 41vh;
        width: 250px;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 83px 0 0 10px;
        transition: 0.3s;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
    }

    #header {
        padding: 7px 15px;
    }

    #header .top-logo {
        margin-left: 12px;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        cursor: pointer;
        color: #0AA1DD;
        font-size: 30px;
        /* padding: 0px; */
        margin: 0px 20px;
        border: none;
        border-radius: 50%;
    }

    #mobile i:active {
        border-radius: 50%;
        background-color: #E8F9FD;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #0AA1DD;
        font-size: 30px;
        padding-left: -20px;
    }

    #monthPopular {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 95vh;
        margin-right: 30px;
    }

    #monthPopular #text {
        margin-bottom: 40px;
        margin-top: 70px;
        text-align: center;
        align-items: center;
    }

    #monthPopular img {
        margin-bottom: 70px;
        margin-right: 0px;
        height: 50vh;
    }

    #lg-bag {
        display: none;
    }

    .section-p1 {
        padding: 40px 0px;
    }

    #main-popcat {
        margin-top: 30px;
        justify-content: center;
    }

    #main-popcat .ft-box {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 102px;
        height: 100px;
        text-align: center;
        padding: 16px 8px;
        /* box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04); */
        border: 1px solid #0AA1DD;
        border-radius: 15px;
        margin: 20px 45px;
    }

    #main-popcat .popcat h1 {
        display: inline-block;
        color: #2155CD;
        margin-right: 20px;
        font-size: 40px;
    }

    #product1 .book {
        min-width: 190px;
    }

    #product1 .remove {
        display: none;
    }

    #product1 .book-container {
        padding-top: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #product1 .book img {
        border-radius: 10px;
        width: 85%;
    }

    button.normal {
        margin-top: 10px;
        font-size: 17px;
        border-radius: 4px;
    }

    #product1 .book .desc {
        padding-bottom: 0px;
    }

    #product1 .book .cart-btn {
        line-height: 68px;
    }

    #product1 .book .cart-btn:focus {
        font-size: 37px;
        color: #2155CD;
    }

    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        height: 27vh;
    }

    #banner h2 {
        margin-left: 26px;
        margin-right: 225px;
        font-size: 35px;
    }

    #banner h4 {
        margin-right: 225px;
        font-size: 18px;
        margin-left: 26px;
    }

    #banner button {
        margin-left: 26px;
    }

    #newsletter {
        justify-content: center;
        align-items: center;
        height: 23vh;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #newsletter h2 {
        font-size: 34px;
        text-align: center;
    }

    #newsletter p {
        font-size: 18px;
        text-align: center;
    }

    #newsletter button {
        margin-bottom: 20px;
        margin-top: 0;
    }

    #newsletter input {
        margin-bottom: 20px;
        font-size: 12px;
    }

    #newsletter .news-email {
        width: 60%;
    }

    div .legal-list li {
        padding: 10px 20px;
        font-size: 11px;
    }
}


/* -----------------------------media query 2---------------------------------------------- */
@media (max-width: 477px) {

    button.normal {
        font-size: 13px;
    }

    .section-p1 {
        padding: 3px 0px;
    }

    #navbar {
        height: 49vh;
    }

    #navbar li {
        margin-bottom: 23px;
    }

    #header {
        padding: 7px 0px;
    }

    #header .top-logo {
        width: 50px;
    }

    #product1 {
        padding-top: 10px;
        padding: 20px 0;
    }

    #product1 .book-container {
        justify-content: space-evenly;
    }

    #product1 h1 {
        font-size: 35px;
    }

    #product1 p {
        font-size: 15px;
        margin: -9px 0px 0px;
        color: #2155CD;
    }

    #product1 .book {
        border-radius: 10px;
        margin: 8px 0;
        min-width: 145px;
    }

    #product1 .book img {
        border-radius: 8px;
        width: 100%;
    }

    #product1 .book .desc span {
        font-size: 10px;
    }

    #product1 .book .desc h5 {
        font-size: 14px;
    }

    #product1 .book .desc h4 {
        font-size: 14px;
    }

    #product1 .book .cart-btn {
        line-height: 73px;
    }

    #product1 .book .cart-btn {
        font-size: 28px;
        right: 5px;
    }

    #monthPopular {
        height: 75vh;
    }

    #monthPopular p {
        font-size: 9px;
        color: #222;
        margin: 15px 0 20px 0;
    }

    #monthPopular #text {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #monthPopular img {
        margin-bottom: 14px;
        height: 37vh;
    }

    #monthPopular h1 {
        font-size: 43px;
    }

    #monthPopular h4 {
        font-size: 15px;
        padding-bottom: 20px;
    }

    #monthPopular h2 {
        line-height: 15px;
        font-size: 20px;
        padding-bottom: 0;
    }

    #monthPopular a {
        font-size: 13px;
    }

    #main-popcat {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #main-popcat .ft-box {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 83px;
        height: 83px;
        text-align: center;
        padding: 16px 8px;
        /* box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04); */
        border: 1px solid #0AA1DD;
        border-radius: 12px;
        margin: 20px 25px;
        margin-top: 40px;
    }

    #main-popcat .ft-box img {
        margin-bottom: 8px;
    }

    #main-popcat .ft-box h5 {
        padding: 0px 8px 6px 8px;
        border-radius: 3px;
    }

    #main-popcat .popcat h1 {
        margin-right: 2px;
        font-size: 33px;
    }

    #main-popcat h5 {
        font-size: 15px;
    }

    #banner {
        height: 21vh;
        margin-bottom: 10px;
    }

    #banner h4 {
        margin-right: 100px;
    }

    #banner h2 {
        padding: 0;
        margin-left: 26px;
        margin-right: 100px;
        font-size: 13px;
    }

    #banner button {
        margin-top: 0;
        font-size: 13px;
    }

    #product1 {
        padding-top: 10px;
    }

    #product1 .mobile-remove {
        display: none;
    }

    #newsletter {
        height: 20vh;
    }

    #newsletter h2 {
        font-size: 18px;
    }

    #newsletter p {
        font-size: 11px;
        margin-bottom: 0px;
    }

    #newsletter input {
        height: 2.1rem;
        font-size: 10px;
        margin-bottom: 15px;
    }

    #newsletter button {
        font-size: 13px;
    }

    #newsletter p span {
        font-size: 11px;
    }

    #newsletter .news-email {
        margin: 30px 0px;
    }

    #newsletter .news-email {
        width: 92%;
    }

    footer {
        padding: 0px 15px;
    }

    footer h4 {
        font-size: 12px;
        padding-top: 10px;
    }

    footer p {
        font-size: 7px;
    }

    footer a {
        font-size: 7px;
        margin: 2px 0;
    }

    footer .social-foot i {
        font-size: 20px;
    }

    div .legal-list li {
        padding: 10px 10px;
        font-size: 7px;
    }

    .book-container .book #firstBookName {
        font-size: 12px;
    }
}


/* ------------------------------------------------------books page--------------------------------------------------- */

#page-header {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("img/banner-background.jpg");
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    font-size: 95px;
    color: white;
    margin-bottom: 10px;
}

#page-header h4 {
    font-size: 600;
    margin-top: 20px;
    color: rgb(226, 226, 226);
}

#page-header h4 span {
    color: #ff964f;
}

#book-category .container {
    display: flex;
    justify-content: space-evenly;
}

#book-category .container h2 {
    color: #2155CD;
    width: 30%;
}

#book-category .container .category-name {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#book-category .container .category-name li {
    padding-top: 10px;
    list-style: none;
}


#book-category .container .category-name a {
    padding: 5px 10px;
    color: #0AA1DD;
    font-weight: 600;
    font-size: 23px;
    text-decoration: none;
    transition: 0.2s ease;
}

#book-category .container .category-name a:hover {
    border-radius: 5px;
    /* border: 1px solid #0AA1DD; */
    background-color: #E8F9FD;
    color: #0AA1DD
}

#page2 #product1 {
    padding-top: 0;
}

#product1 .book-section2 {
    padding-top: 0;
}

#pagination {
    text-align: center;
}

#pagination a {
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 15px 23px;
    border: 0.01px solid #0AA1DD;
    border-radius: 4px;
    color: #0AA1DD;
    font-weight: 700;
    transition: 0.2s ease;
}

#pagination a i {
    /* padding: 10px 20px; */
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

#pagination a:hover {
    color: #0AA1DD;
    background-color: #E8F9FD
}

/* ---------------------------------media query 1----------------------------------------------------- */

@media (max-width: 799px) {
    #page-header {
        height: 17vh;
    }

    #page-header h2 {
        font-size: 50px;
        margin-bottom: 5px;
    }

    #page-header h4 {
        font-size: 300;
        margin-top: 10px;
    }

    #book-category .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    #book-category .container h2 {
        font-size: 35px;
        margin-bottom: 5px;
        width: 45%;
    }

    #book-category .container .category-name {
        display: flex;
        text-align: center;
        width: 90%;
    }

    #book-category .container .category-name li a {
        font-size: 20px;
        /* margin: 0 5px; */
    }

    #product1 {
        margin-bottom: 0px;
        padding: 20px 24px;
        padding-bottom: 0px;
    }

    #product1 .book-container {
        justify-content: space-between;
    }

    #product1 .book {
        width: 31%;
    }
}


/* ----------------------------------media query 2------------------------------------------------- */

@media (max-width: 477px) {

    #page-header {
        align-items: flex-start;
        height: 14vh;
    }

    #page-header h2 {
        font-size: 40px;
        margin-bottom: 0;
    }

    #page-header h4 {
        margin-top: 0;
        font-size: 14px;
    }

    #book-category .container h2 {
        font-size: 28px;
        margin-bottom: 0;
        width: 56%;
    }

    #book-category .container .category-name {
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    #book-category .container .category-name li {
        padding-top: 2px;
    }

    #book-category .container .category-name a {
        padding: 5px 10px;
    }

    #book-category .container .category-name li a {
        padding-top: 5px;
        font-size: 12px;
    }

    #book-category .container .category-name .mobile-remove{
        display: none;
    }

    #page2 #product1 {
        padding-top: 9px;
    }

    #product1 {
        padding: 20px 8px;
    }

    #product1 .book-container {
        justify-content: space-around;
    }

    #product1 .book {
        width: 45%;
    }

    #pagination a {
        font-size: 17px;
        padding: 2px 13px;
    }

    #pagination a i {
        font-size: 18px;
    }

}